aiohttp~=3.8.4
pydantic~=1.10.7
aiohttp_pydantic~=1.12.2
argparse_dataclass~=1.0.0
elasticsearch~=7.13.4
setproctitle~=1.3.2
pandas~=1.5.3
alembic~=1.10.2
ujson~=5.7.0
sqlalchemy~=2.0.7
ConfigArgParse~=1.5.3